.institucional {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fonte-cinza);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.institucional_titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.institucional_descricao {
    margin-bottom: 2rem;
}

.institucional_endereco {
    font-size: 1.5rem;
    line-height: normal;
    margin-bottom: 2rem;
}

.institucional_contato {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 2rem;
}

.institucional_contato-telefone {
    line-height: normal;
}

.institucional_contato-email {
    color: var(--fonte-link);
    text-decoration: underline;
    display: block;
}

.institucional_video {
    width: 100vw;
}

/* Ajustando o tamanho para tablet*/
@media screen and (min-width: 768px) {
    .institucional_contato-email {
        display: inline-block;
    } 
    .institucional_video {
        width: 100% ;
    }
}

/* Ajustando o tamanho para desktop */
@media screen and (min-width: 1024px) {
    .institucional_conteudo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .institucional_video {
        align-self: flex-end;
        width: 375px;
    }

    .institucional_contato-email {
        display: block;
    }
}

