#banner {
    width: 100%;
}

.pricipal {
    background: #cccccc;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {

    color: red;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
}

h2 {
    text-align: center;
}

