/* Variaveis para css */
:root {
    --branco: #FFF;
    --ciano: #48A3A6;
    --verde: #64FF64;
    --laranja: #F17E50;
    --preto: #000;
    --cinza-claro: #c5c5c5;
    --cinza-transparente: rgba(255, 255, 255, 0.1);

    --sombra-preto: 4px 4px 10px #000;
    --sombra-ciano: 2px 2px 10px #48A3A6;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

